/* Slide transition */
#slide.slideshow .content {
  transition: all .5s, opacity .4s;
}
#slide .content > * {
  transition: clip .5s, clip-path .5s;
}
#slide.opacity .content {
  opacity: 0;
}
#slide.tr-zoom .content {
  opacity: 0;
  transform: scale(0);
}
#slide.tr-zoom-2 .content {
  opacity: 0;
  transform: scale(2);
}
#slide.tr-zoom-3 .content {
  opacity: 0;
  transform: scale(10);
}
#slide.tr-shrinkX .content {
  opacity: 0;
  transform: scaleX(0);
}
#slide.tr-shrinkY .content {
  opacity: 0;
  transform: scaleY(0);
}
#slide.tr-zoom-rotate .content {
  opacity: 0;
  transform: scale(0) rotate(360deg);
}
#slide.tr-rotate .content {
  opacity: 0;
  transform: scale(1) rotate(360deg);
}

#slide.tr-circle .content > .slide {
  clip-path: circle(0);
}
#slide.tr-circle .content.visible > .slide {
  clip-path: circle(100%);
}
#slide.tr-square .content > .slide {
  clip-path: inset(100%);
}
#slide.tr-square .content.visible > .slide {
  clip-path: inset(0);
}

#slide.tr-wipe-right .content > .slide {
  clip: rect(0, 0, 1000px, 0);
}
#slide.tr-wipe-left .content > .slide {
  clip: rect(0, 1600px, 1000px, 1600px);
}
#slide.tr-wipe-up .content > .slide {
  clip: rect(1600px,1000px,1600px,0);
}
#slide.tr-wipe-down .content > .slide {
  clip: rect(0,1600px,0,0)
}
#slide.tr-slide-right .content {
  opacity: 0;
  transform: translate(-110%,0);
}
#slide.tr-slide-left .content {
  opacity: 0;
  transform: translate(110%,0);
}
#slide.tr-slide-up .content {
  opacity: 0;
  transform: translate(0,110%);
}
#slide.tr-slide-down .content {
  opacity: 0;
  transform: translate(0,-110%);
}
#slide .content.visible {
  opacity: 1;
  transform: scale(1) rotate(0) translate(0,0);
  border-radius: 0;
}
#slide .content.visible > .slide {
  clip: rect(0, 1600px, 1000px, 0);
  border-radius: 0;
}

#slide .content.hidden {
  opacity: 0;
  transition-delay: .2s;
}


/* Presentation steps */
.md .step {
  display: inline-block;
  transition: none;
}
.md .step.block {
  width: 100%;
}
.md .step.full {
  position: fixed!important;
  width: 100%;
  height: 100%;
}

.slideshow .md .visible .step,
.slideshow .md .step {
  visibility: hidden;
  opacity: 0;
}
.slideshow .md .step {
  position: relative;
}
.slideshow .md .step.slide-left {
  left: -100%;
  opacity: 1;
}
.slideshow .md .step.slide-right {
  left: 100%;
  opacity: 1;
}
.slideshow .md .step.slide-down {
  top: -800px;
  opacity: 1;
}
.slideshow .md .step.slide-up {
  top: 800px;
  opacity: 1;
}

.slideshow .md .step.zoom {
  transform: scale(0);
}
.slideshow .md .step.zoom-2 {
  transform: scale(2);
}
.slideshow .md .step.zoom-3 {
  transform: scale(10);
}
.slideshow .md .step.zoom-rotate {
  transform: scale(0) rotate(360deg);
}
.slideshow .md .step.shrinkX {
  transform: scaleX(0);
}
.slideshow .md .step.shrinkY {
  transform: scaleY(0);
}
.slideshow .md .step.stretchX {
  transform: scaleX(0);
  transform-origin: 0 0;
}
.slideshow .md .step.stretchY {
  transform: scaleY(0);
  transform-origin: 0 0;
}

.slideshow .md .visible .step.visible,
.slideshow .md .step.visible {
  visibility: visible;
  opacity: 1;
  left: 0;
  top: 0;
  transform: scale(1) rotate(0deg);
  transition: all .5s;
}
