body {
  font-size: 20px;
  background-color: #ebe7e0;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  background-color: #fff;
}
#panel {
  position: fixed;
  top: 2em;
  left: 0;
  bottom: 0;
  width: 10em;
  border-right: 1px solid #aaa;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}
#slide {
  position: fixed;
  top: 2em;
  left: 10em;
  right: 0;
  bottom: 12em;
  margin: 1em;
  overflow: hidden;
}
.presentation #slide {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
#editor {
  position: fixed;
  left: 10em;
  height: 12em;
  right: 0;
  bottom: 0em;
  background-color: #fff;
}
#editor textarea {
  position: absolute;
  font-size: .8em;
  resize: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  tab-size : 4;
  padding: 0 .5em;
  border: 0;
}
#progress {
  position: absolute;
  left: 10em;
  right: 0;
  bottom: 12em;
  z-index: 1;
}
.presentation #progress {
  left: 0;
  right: 0;
  bottom: 0;
}
#progress > div {
  background-color: #af9f83;
  height: 5px;
}

#panel li {
  position: relative;
  list-style: none;
  border: .5em solid transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  opacity: .7;
  cursor: pointer;
}
#panel li > div {
  position: relative;
  height: 8em;
  width: 100%;
  box-sizing: border-box;
  pointer-events: none;
}
#panel li.selected {
  background-color: #af9f83;
  border-color: #af9f83;
  opacity: 1;
}

#header button {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  color: #7c6c50;
  font-family: FontAwesome;
  vertical-align: top;
}
#header button.addSlide:before {
  content: "\f196";
}
#header button.open:before {
  content: "\f115";
}
#header button.save:before {
  content: "\f019";
}
#header button.present:before {
  content: "";
  width: .9em;
  height: .55em;
  border: .1em solid currentColor;
  box-shadow: 0 -.15em;
  position: absolute;
  top: .45em;
  left: 50%;
  transform: translateX(-50%);
}
#header button.present:after {
  content: "";
  width: .4em;
  height: .4em;
  border: .1em solid currentColor;
  border-color: currentColor currentColor transparent transparent;
  position: absolute;
  top: 1.2em;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,.2);
  padding: 2em;
  box-sizing: border-box;
  overflow: hidden;
  color: #5d513c;
}

.slide.fullscreen {
  box-shadow: unset;
  background: transparent;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

img.bgImage {
  position: absolute;
  left: 50%;
  z-index: 0;
  top: 50%;
  transition: tr;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  max-width: unset;
  max-height: unset;
  z-index: 0;
}
.slide img.bgImage {
  z-index: -1;
}

.slide.no-footer .footer {
  display: none;
}
.slide.align-left .md {
  text-align: unset;
}

.slide .footer {
  font-size: .8em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 3em;
}
.footer > div {
  position: absolute;
  padding: 1em;
  bottom: 0;
}
.footer div.left {
  left: 0;
}
.footer div.middle {
  left: 50%;
  transform: translateX(-50%);
}
.footer div.right {
  right: 0;
}

/* Presentation steps */
.md .step {
  display: inline;
}
.slideshow .md .step > *,
.slideshow .md .visible .step,
.slideshow .md .step {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
.slideshow .md .step {
  position: relative;
  transition-property: opacity, left, top;
}
.slideshow .md .step.slide-left {
  left: -100%;
  opacity: 1;
}
.slideshow .md .step.slide-right {
  left: 100%;
  opacity: 1;
}
.slideshow .md .step.slide-down {
  top: -800px;
  opacity: 1;
}
.slideshow .md .step.slide-up {
  top: 800px;
  opacity: 1;
}
.slideshow .md .step.visible > *,
.slideshow .md .visible .step.visible,
.slideshow .md .step.visible {
  visibility: visible;
  opacity: 1;
  left: 0;
  top: 0;
}
.slideshow .md .visible .step {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
